definitions:
  common.Response:
    properties:
      description:
        type: string
      internal_code:
        type: integer
    type: object
  model.EmailValidateRequest:
    properties:
      code:
        type: integer
    type: object
  model.EmailValidateResponse:
    properties:
      description:
        type: string
      internal_code:
        type: integer
      valid:
        type: boolean
    type: object
  model.SignInRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  model.SignInResponse:
    properties:
      access_token:
        type: string
      description:
        type: string
      email:
        type: string
      first_name:
        type: string
      internal_code:
        type: integer
      last_name:
        type: string
    type: object
  model.SignUpRequest:
    properties:
      email:
        description: server.Params
        type: string
      first_name:
        type: string
      last_name:
        type: string
      password:
        type: string
    type: object
  model.SignUpResponse:
    properties:
      description:
        type: string
      internal_code:
        type: integer
    type: object
host: bank.onecrypto.pro
info:
  contact:
    email: bwg.it317@gmail.com
    name: Docs developer
    url: https://t.me/sirop_work
  description: TimeStamp
  title: CryptoBank API
  version: 1.0.0
paths:
  /auth:
    post:
      consumes:
      - application/json
      description: Accepts token from vendor which we process and returning pair of
        tokens
      parameters:
      - description: Vendor which is providing authorization
        enum:
        - apple
        - google
        in: query
        name: vendor
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign in or sign up via Apple or Google
      tags:
      - Authorization
  /auth/email/validate:
    post:
      consumes:
      - application/json
      description: Validating user's email with take message on email and writing
        code
      parameters:
      - description: Data for validation by email from app
        in: body
        name: code
        required: true
        schema:
          $ref: '#/definitions/model.EmailValidateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.EmailValidateResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Validating user's email
      tags:
      - Authorization
  /auth/sign/in:
    post:
      consumes:
      - application/json
      description: Authorization and get access token
      parameters:
      - description: Authorization data from user
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.SignInResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign in
      tags:
      - Authorization
  /auth/sign/up:
    post:
      consumes:
      - application/json
      description: Sign up with email and password
      parameters:
      - description: Authorization data from user
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.SignUpRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.SignUpResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign up with email
      tags:
      - Authorization
schemes:
- https
swagger: "2.0"
