definitions:
  common.Response:
    properties:
      description:
        type: string
      internal_code:
        type: integer
    type: object
  model.BusinessDataLogic:
    properties:
      economic_activity:
        example: Производство
        type: string
      inn:
        example: "7707083893"
        type: string
      name:
        example: ООО ИНФАНТЕМ
        type: string
      website:
        example: infantem.tech
        type: string
    required:
    - inn
    type: object
  model.EmailValidateRequest:
    properties:
      code:
        type: integer
    type: object
  model.EmailValidateResponse:
    properties:
      description:
        type: string
      internal_code:
        type: integer
      valid:
        type: boolean
    type: object
  model.PersonalDataLogic:
    properties:
      full_name:
        example: Иванов Иван Иванович
        type: string
      geographic:
        properties:
          city:
            example: Москва
            type: string
          country:
            example: Российская Федерация
            type: string
        type: object
      position:
        example: Старший менеджер по инвестициям
        type: string
    required:
    - full_name
    type: object
  model.RegistrationDataLogic:
    properties:
      email:
        example: example@mail.ru
        type: string
      password:
        example: 1234qwerty!
        type: string
      repeated_password:
        example: 1234qwerty!
        type: string
    required:
    - email
    - password
    - repeated_password
    type: object
  model.SignInRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  model.SignInResponse:
    properties:
      access_token:
        type: string
      description:
        type: string
      email:
        type: string
      first_name:
        type: string
      internal_code:
        type: integer
      last_name:
        type: string
    type: object
  model.SignUpRequest:
    properties:
      auth_data:
        allOf:
        - $ref: '#/definitions/model.RegistrationDataLogic'
        description: server.Params
      business_data:
        $ref: '#/definitions/model.BusinessDataLogic'
      personal_data:
        $ref: '#/definitions/model.PersonalDataLogic'
    type: object
  model.SignUpResponse:
    properties:
      description:
        type: string
      internal_code:
        type: integer
    type: object
host: core.ldt2023.infantem.tech
info:
  contact:
    email: KlenoviySir@yandex.ru
    name: Docs developer
    url: https://t.me/KlenoviySirop
  description: JWT token in authorization bearer
  title: Core backend app for Leaders of Digital Transformation
  version: 1.0.0
paths:
  /auth:
    post:
      consumes:
      - application/json
      description: Accepts token from vendor which we process and returning pair of
        tokens
      parameters:
      - description: Vendor which is providing authorization
        enum:
        - apple
        - google
        in: query
        name: vendor
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/common.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign in or sign up via Apple or Google
      tags:
      - Authorization
  /auth/email/validate:
    post:
      consumes:
      - application/json
      description: Validating user's email with take message on email and writing
        code
      parameters:
      - description: Data for validation by email from app
        in: body
        name: code
        required: true
        schema:
          $ref: '#/definitions/model.EmailValidateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.EmailValidateResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Validating user's email
      tags:
      - Authorization
  /auth/sign/in:
    post:
      consumes:
      - application/json
      description: Authorization and get access token
      parameters:
      - description: Authorization data from user
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.SignInResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign in
      tags:
      - Authorization
  /auth/sign/up:
    post:
      consumes:
      - application/json
      description: Sign up with email and password
      parameters:
      - description: Authorization data from user
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/model.SignUpRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.SignUpResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/common.Response'
      summary: Sign up with email
      tags:
      - Authorization
schemes:
- https
swagger: "2.0"
