{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "TimeStamp",
        "title": "CryptoBank API",
        "contact": {
            "name": "Docs developer",
            "url": "https://t.me/sirop_work",
            "email": "bwg.it317@gmail.com"
        },
        "version": "1.0.0"
    },
    "host": "bank.onecrypto.pro",
    "paths": {
        "/auth": {
            "post": {
                "description": "Accepts token from vendor which we process and returning pair of tokens",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Authorization"
                ],
                "summary": "Sign in or sign up via Apple or Google",
                "parameters": [
                    {
                        "enum": [
                            "apple",
                            "google"
                        ],
                        "type": "string",
                        "description": "Vendor which is providing authorization",
                        "name": "vendor",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/server.CommonResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/server.CommonResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "server.CommonResponse": {
            "type": "object"
        }
    }
}